################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Royal Flush Casino
/obj/Debug/net7.0/Royal Flush Casino.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Royal Flush Casino.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Royal Flush Casino.AssemblyInfo.cs
/obj/Debug/net7.0/Royal Flush Casino.assets.cache
